{
  "openapi": "3.1.1",
  "info": {
    "title": "D-Tools SI API Documentation",
    "description": "The API allows integrations to:\n\n- Publish catalogs and projects to SI users.\n- Subscribe to projects and catalogs published by SI users.\n\nAll API calls must pass an API key in the request header. The API key can be generated in SI 2016 Control Panel using the 'Manage Integrations' feature.\n\nAn API key is specific to a SI user and an integration.\n\nAPI callers must add to each call a custom header named **X-DTSI-ApiKey** along with the value of the API key. For example, if the API key value is `q54R39UBr0Skgd7VHvEbuwiRAOArUpt02o7z/vY+iwrg`, the custom header would be as follows:\n\n```\nX-DTSI-ApiKey: q54R39UBr0Skgd7VHvEbuwiRAOArUpt02o7z/vY+iwrg\n```",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.d-tools.com/si"
    }
  ],
  "paths": {
    "/Publish/Projects": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Publish a new project to SI.",
        "requestBody": {
          "description": "The project.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishProjectResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishProjectResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishProjectResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/Update": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Update an existing project in SI",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/NewChangeOrder": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Publish a new change order or update an existing change order (using the IntegrationChangeOrderId) for an existing SI project.",
        "requestBody": {
          "description": "The new change order information.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/NewChangeOrderInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/ArchiveProjects": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Mark existing SI projects as archived (must be checked in).",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/LockProjects": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Mark existing SI projects as locked (must be checked in).",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/UnarchiveProjects": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Mark existing SI projects as unarchived.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/UnlockProjects": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Mark existing SI projects as unlocked (must be checked in).",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/LockChangeOrderStatus": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Mark existing SI project change order status as locked or unlocked.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/LockChangeOrderStatus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Projects/ProjectComments": {
      "post": {
        "tags": [
          "PublishProjects"
        ],
        "summary": "Publish comments to an existing SI project.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppProjectComment"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/Projects": {
      "get": {
        "tags": [
          "SubscribeProjects"
        ],
        "summary": "Get projects and change orders published by a SI user.",
        "parameters": [
          {
            "name": "clients",
            "in": "query",
            "description": "Clients to filter projects (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "progresses",
            "in": "query",
            "description": "Progresses to filter projects (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported projects. Optional with default value false which means\r\nby default you will only see projects which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Boolean. Include archived projects. Optional with default value false which means\r\nby default you will only see projects which are not archived.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include project deleted in SI. Optional with default value false which means\r\nby default you will only see active projects which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "projectNumber",
            "in": "query",
            "description": "The project number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Projects/GetProjectByMessageId": {
      "get": {
        "tags": [
          "SubscribeProjects"
        ],
        "summary": "Get a specific project or change order for a given message id published by a SI user.",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "description": "The message Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateBy",
            "in": "query",
            "description": "aggregateBy is an optional parameter and the value can be Item, Location, System or\r\nPhase. If aggregateBy is not provided then the project is returned unit wise (not aggregated).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getAdjustmentsByItem",
            "in": "query",
            "description": "getAdjustmentsByItem is an optional parameter.\r\nIf true then adjustments are returned with each project item.\r\nIf false the adjustments are aggregated and returned as project items.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Projects/GetProjectComments": {
      "get": {
        "tags": [
          "SubscribeProjects"
        ],
        "summary": "Get project comments published by a SI user.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The project id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCommentsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCommentsResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Projects/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribeProjects"
        ],
        "summary": "Mark a project or change order as imported for a given project id.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The project id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coNumber",
            "in": "query",
            "description": "coNumber is an optional parameter and is the Change Order Number. For approved projects you can pass the change order number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "publishedOnUnixTimeMs is an optional parameter and is the date the project was published in Unix epoch milliseconds. This property can be read from the project property PublishedOnUnixTimeMs and if passed will make sure no one has updated this project since you last read it.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/Projects/MarkAsImportedByMessageId": {
      "put": {
        "tags": [
          "SubscribeProjects"
        ],
        "summary": "Mark a project or change order as imported for a given message id.",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "description": "The message Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "publishedOnUnixTimeMs is an optional parameter and is the date the project was published in Unix epoch milliseconds. This property can be read from the project property PublishedOnUnixTimeMs and if passed will make sure no one has updated this project since you last read it.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/Projects/{id}": {
      "get": {
        "tags": [
          "SubscribeProjects"
        ],
        "summary": "Get a specific project or change order for a given project id published by a SI user.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coNumber",
            "in": "query",
            "description": "coNumber is an optional parameter and is the Change Order Number.\r\nFor approved project you can pass a change order number to get a specific change order for the approved project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateBy",
            "in": "query",
            "description": "aggregateBy is an optional parameter and the value can be Item, Location, System or\r\nPhase. If aggregateBy is not provided then the project is returned unit wise (not aggregated).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getAdjustmentsByItem",
            "in": "query",
            "description": "getAdjustmentsByItem is an optional parameter.\r\nIf true then adjustments are returned with each project item.\r\nIf false the adjustments are aggregated and returned as project items.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/SubscribePartialProjects/Projects": {
      "get": {
        "tags": [
          "SubscribePartialProjects"
        ],
        "summary": "Get partial projects published by a SI user .",
        "parameters": [
          {
            "name": "clients",
            "in": "query",
            "description": "Clients to filter projects (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "progresses",
            "in": "query",
            "description": "Progresses to filter projects (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported projects. Optional with default value false which means\r\nby default you will only see projects which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include project deleted in SI. Optional with default value false which means\r\nby default you will only see active projects which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "projectNumber",
            "in": "query",
            "description": "The project number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialProjectsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialProjectsResult"
                }
              }
            }
          }
        }
      }
    },
    "/SubscribePartialProjects/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribePartialProjects"
        ],
        "summary": "Mark a partial project as imported for a given message id.",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "description": "The message id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/SubscribePartialProjects/Projects/{messageId}": {
      "get": {
        "tags": [
          "SubscribePartialProjects"
        ],
        "summary": "Get a specific partial project for a given message id published by a SI user.",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "The message id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateBy",
            "in": "query",
            "description": "aggregateBy is an optional parameter and the value can be Item, Location, System or\r\nPhase. If aggregateBy is not provided then the project is returned unit wise (not aggregated).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getAdjustmentsByItem",
            "in": "query",
            "description": "getAdjustmentsByItem is an optional parameter. \r\nIf true then adjustments are returned with each project item. \r\nIf false the adjustments are aggreegated and returend as project items.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Task": {
      "post": {
        "tags": [
          "PublishTasks"
        ],
        "summary": "Allows an integration to publish a task to a SI user.",
        "requestBody": {
          "description": "The Task.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishTaskResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishTaskResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishTaskResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishTaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/UpdateTask": {
      "post": {
        "tags": [
          "PublishTasks"
        ],
        "summary": "Update an existing task in SI.",
        "requestBody": {
          "description": "Update Task.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/DeleteTasks": {
      "post": {
        "tags": [
          "PublishTasks"
        ],
        "summary": "Delete existing tasks in SI (BETA).",
        "requestBody": {
          "description": "Delete Task.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTasksRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Tasks": {
      "get": {
        "tags": [
          "SubscribeTask"
        ],
        "summary": "Get tasks published by a SI user.",
        "parameters": [
          {
            "name": "clients",
            "in": "query",
            "description": "Clients to filter tasks (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "progresses",
            "in": "query",
            "description": "Progresses to filter tasks (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "ProjectId to filter tasks (Optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported tasks. Optional with default value false which means by default you will only see tasks which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include task deleted in SI. Optional with default value false which means\r\nby default you will only see active tasks which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Task/GetMobileInstallSiteNotes": {
      "get": {
        "tags": [
          "SubscribeTask"
        ],
        "summary": "Get Mobile Install task site notes for a given task id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Task id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Task/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribeTask"
        ],
        "summary": "Mark a task as imported for a given task id.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The task id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "The published on Unix time in milliseconds.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/Tasks/ByProject/{projectId}": {
      "get": {
        "tags": [
          "SubscribeTask"
        ],
        "summary": "Get a tasks for a given project id.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The project id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Tasks/{id}": {
      "get": {
        "tags": [
          "SubscribeTask"
        ],
        "summary": "Get a task for a given task id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The task id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SITask"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/ServiceOrder": {
      "post": {
        "tags": [
          "PublishServiceOrders"
        ],
        "summary": "Publish a new service order to SI.",
        "requestBody": {
          "description": "The Service Order.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/NewServiceOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/UpdateServiceOrder": {
      "post": {
        "tags": [
          "PublishServiceOrders"
        ],
        "summary": "Update an existing service order in SI.",
        "requestBody": {
          "description": "Update Service Order.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ServiceOrders": {
      "get": {
        "tags": [
          "SubscribeServiceOrder"
        ],
        "summary": "Get service order published by a SI user.",
        "parameters": [
          {
            "name": "clients",
            "in": "query",
            "description": "Clients to filter service orders (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "progresses",
            "in": "query",
            "description": "Progresses to filter servic orders (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported service orders. Optional with default value false which means by default you will only see service orders which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include service order deleted in SI. Optional with default value false which means\r\nby default you will only see active service orders which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOrdersResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOrdersResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ServiceOrder/GetMobileInstallSiteNotes": {
      "get": {
        "tags": [
          "SubscribeServiceOrder"
        ],
        "summary": "Get Mobile Install service order site notes for a given service order id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Service order id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteNote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ServiceOrders/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribeServiceOrder"
        ],
        "summary": "Mark a service order as imported for a given service order id.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The service order id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "The published on Unix time in milliseconds.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/ServiceOrders/{id}": {
      "get": {
        "tags": [
          "SubscribeServiceOrder"
        ],
        "summary": "Get a service order for a given service order id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The service order id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOrder"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOrder"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOrder"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOrder"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/PurchaseOrders": {
      "get": {
        "tags": [
          "SubscribePurchaseOrder"
        ],
        "summary": "Get purchase orders published by a SI user.",
        "parameters": [
          {
            "name": "vendors",
            "in": "query",
            "description": "Vendors to filter purchase orders (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Statuses to filter purchase orders (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported purchase orders. Optional with default value false which means by default you will only see purchase orders which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include purchase order deleted in SI. Optional with default value false which means\r\nby default you will only see active purchase orders which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrdersResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrdersResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/PurchaseOrders/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribePurchaseOrder"
        ],
        "summary": "Mark a purchase order as imported for a given purchase order id.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The purchase order id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "The published on Unix time in milliseconds.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/PurchaseOrders/{id}": {
      "get": {
        "tags": [
          "SubscribePurchaseOrder"
        ],
        "summary": "Get a purchase order for a given purchase order id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The purchase order id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ServicePlans": {
      "get": {
        "tags": [
          "SubscribeServicePlan"
        ],
        "summary": "Get service plans published by a SI user",
        "parameters": [
          {
            "name": "clients",
            "in": "query",
            "description": "Clients to filter service plans (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Statuses to filter servic plans (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported service plans. Optional with default value false which means by default you will only see service plans which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include servic plan deleted in SI. Optional with default value false which means\r\nby default you will only see active servic plans which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePlansResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePlansResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ServicePlans/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribeServicePlan"
        ],
        "summary": "Mark a service plan as imported for a given service plan id.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The service plan id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "The published on Unix time in milliseconds.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/ServicePlans/{id}": {
      "get": {
        "tags": [
          "SubscribeServicePlan"
        ],
        "summary": "Get a service plan for a given service plan id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The service plan id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePlan"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePlan"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePlan"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePlan"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/TimeSheets": {
      "post": {
        "tags": [
          "PublishTimeSheets"
        ],
        "summary": "Publish a new time sheet to SI.",
        "requestBody": {
          "description": "NewTimeSheetRequest.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTimeSheetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/UpdateTimeSheets": {
      "post": {
        "tags": [
          "PublishTimeSheets"
        ],
        "summary": "Update an existing time sheets in SI.",
        "requestBody": {
          "description": "Update Time Sheets.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTimeSheetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/TimeSheets": {
      "get": {
        "tags": [
          "SubscribeTimeSheet"
        ],
        "summary": "Get time sheets published by a SI user.",
        "parameters": [
          {
            "name": "clients",
            "in": "query",
            "description": "Clients to filter time sheets (Optional)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported time sheets. Optional with default value false which means by default you will only see time sheets which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include time sheet deleted in SI. Optional with default value false which means\r\nby default you will only see active time sheets which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSheetsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSheetsResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/TimeSheets/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribeTimeSheet"
        ],
        "summary": "Mark a time sheet as imported for a given time sheet id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The time sheet id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedOnUnixTimeMs",
            "in": "query",
            "description": "The published on Unix time in milliseconds.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "null",
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/TimeSheets/{id}": {
      "get": {
        "tags": [
          "SubscribeTimeSheet"
        ],
        "summary": "Get a time sheet for a given time sheet id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The time sheet id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSheet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSheet"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSheet"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSheet"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/ProductCatalogs": {
      "post": {
        "tags": [
          "PublishProductCatalogs"
        ],
        "summary": "Publish a product catalog to a SI user.",
        "requestBody": {
          "description": "The product catalog.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ProductCatalog"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ProductCatalogs": {
      "get": {
        "tags": [
          "SubscribeProductCatalogs"
        ],
        "summary": "Get product catalogs published by a SI user.",
        "parameters": [
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported product catalogs. Optional with default value false\r\nwhich means by default you will only see product catalogs which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogsResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/ProductCatalogs/MarkAsImported": {
      "put": {
        "tags": [
          "SubscribeProductCatalogs"
        ],
        "summary": "Mark a product catalog as imported for a given catalog id.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The product catalog id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Subscribe/ProductCatalogs/{id}": {
      "get": {
        "tags": [
          "SubscribeProductCatalogs"
        ],
        "summary": "Get a product catalog for a given catalog id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product catalog id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCatalog"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCatalog"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCatalog"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Clients": {
      "post": {
        "tags": [
          "PublishClients"
        ],
        "summary": "Publish a list of clients to SI.",
        "requestBody": {
          "description": "The client list.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/ClientList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Publish/Clients/Update": {
      "post": {
        "tags": [
          "PublishClients"
        ],
        "summary": "Update an existing client in SI",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Clients": {
      "get": {
        "tags": [
          "SubscribeClients"
        ],
        "summary": "Get clients published by a SI user.",
        "parameters": [
          {
            "name": "includeImported",
            "in": "query",
            "description": "Boolean. Include already imported clients. Optional with default value false which means\r\nby default you will only see clients which are not imported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Boolean. Include client deleted in SI. Optional with default value false which means\r\nby default you will only see active clients which are not deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsResult"
                }
              }
            }
          }
        }
      }
    },
    "/Subscribe/Clients/ClientList": {
      "post": {
        "tags": [
          "SubscribeClients"
        ],
        "summary": "Get clients for given client ids published by a SI user. You can pass a maximum of 100 client ids.",
        "requestBody": {
          "description": "Send single or multiple clientIds",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
[...]
